.dashboard-content {
  top: 44px;
  position: absolute;

  left: 320px;
  .dashboard-nav {
    .dashboard-title {
      position: absolute;
      width: 293px;
      height: 32px;

      /* H2 */

      font-family: "Helvetica";
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      /* identical to box height, or 133% */

      /* Black/100 */

      color: #000000;
    }
  }
  .dashboard-nav-button-group {
    position: absolute;
    left: 728px;
    .dashboard-addContracts {
      position: absolute;
      width: 40px;
      height: 40px;
      left: 0px;
      top: 0px;

      /* Black/5 */

      background: #f5f5f5;
      border-radius: 8px;
    }
  }
  .button-group {
  }
}
